@define-color theme_bg_color #$BG_DARK;
@define-color theme_fg_color #$FG;
@define-color theme_base_color #$BG;
@define-color theme_text_color #$FG;
@define-color theme_selected_bg_color #$ACCENT;
@define-color theme_selected_fg_color #$FG;
@define-color theme_unfocused_selected_bg_color #$ACCENT_DARK;
@define-color theme_unfocused_selected_fg_color #$FG;
@define-color insensitive_bg_color #$BG;
@define-color insensitive_fg_color #$ACCENT2;
@define-color insensitive_base_color #$BG;
@define-color borders #$ACCENT2_DARK;
@define-color unfocused_borders #$ACCENT2_DARK;
@define-color warning_color #$COLOR3;
@define-color error_color #$COLOR1;
@define-color success_color #$COLOR2;
@define-color content_view_bg #$BG;
